@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');




html{
    width: 100%;
    position: relative;
    font-family:'Poppins';
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing:antialiased;
    line-height: 1.15;

}


body{
    
    margin:0;
    padding: 0;
    height: 100%;
    font: inherit;
    font-weight: normal;
    line-height: inherit;
    -webkit-font-smotthing:inherit;
    
}




 *{
    
   

    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    /* text-transform: capitalize; */
    transition: all .2s ease-out;
    text-decoration: none;
}


.header{
    padding:1.5rem 9%;
    position: fixed;
    top:0; left: 0; right: 0;
   
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    
    justify-content:space-between;
   
    background-color: white;
    height: 1rem;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
}

.header .logo i{
    color: var(--green);
}



.header .navbar a{
    font-size: 1rem;
    color: black;
    margin-left: 2rem;
    font-weight: 500;
}

.header .navbar a:hover{
    color: var(--green);
}

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}






/* home page start */



section{
    height: 100vh;
    display:flex;
    justify-content: center;
    width: 100vh;
    flex-direction: row;
   

}

.home{
   
  width: 100%;
    
}



.main-content{
    display: grid;
    gap: 2rem;
    padding-left: 9rem;
    padding-top: 8rem;
    
    align-content: center;
    align-items: center;
    padding-right: 22rem;
    background: #4831d4;

}


.main-content .content p{
    line-height: 30px;
}
.main-content h1{
    color: #ccf381;
    font-size: 3.5rem;
    font-weight: 3000;

  
}


.main-content p{
    padding-top: 2rem;
    color: white;
 
  
}

.main-content .content-2{
    display: block;
    width: 50%;
    height: 100%;
}

.content-2 p {
    color: #ccf381;
    font-size: 12px;
    
}


.secondary-content{
    background:#ccf381 ;
    display:grid;
 
    justify-content: center;
    align-items: center;
    
   
  


}

.secondary-content img{
    width: 18rem;
    height: 18rem;
    left: 20rem;
    margin-left: -20.435rem;
    background-color:rgb(172, 185, 209);
    padding-bottom: 1.5rem;
    
    
}


.icons #avatar-shapes{
top: 7rem;
left: 37rem;
width: 30rem;

height: 50%;
right: 21.6em;
position: absolute;

}



/* home page ends */





#sector-3 .main-content{
    background: white;
    padding-right: 5rem;
    padding-left: 2rem;
    
    
}

#sector-3 .main-content  h2{
        margin-top: 10rem;
        padding-bottom: 1rem;
}
#second-2{
    background: white;
}





#sector-3 .main-content .content h1{
    color: #4831d4;
    
}



#sector-3 .main-content .content p{
    color: #342d5c;
    padding-top: 1rem;
    width: 23rem;
    font-size: 13px;line-height: 18px;
}


#second-2 .img h2{
    color:#4831d4;
    font-size: 3rem;
    font-weight: 3000;
    

}

.img .icons i{
    color: #4831d4;
    display: grid;
    
}