@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');




html{
    width: 100%;
    position: relative;
    font-family:'Poppins';
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing:antialiased;
    line-height: 1.15;

}


body{
    
    margin:0;
    padding: 0;
    height: 100%;
    font: inherit;
    font-weight: normal;
    line-height: inherit;
    -webkit-font-smotthing:inherit;
    
}




 *{
    
   

    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    /* text-transform: capitalize; */
    transition: all .2s ease-out;
    text-decoration: none;
}


.header{
    padding:1.5rem 9%;
    position: fixed;
    top:0; left: 0; right: 0;
   
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    
    justify-content:space-between;
   
    background-color: white;
    height: 1rem;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
}

.header .logo i{
    color: var(--green);
}



.header .navbar a{
    font-size: 1rem;
    color: black;
    margin-left: 2rem;
    font-weight: 500;
}

.header .navbar a:hover{
    color: var(--green);
}

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}






/* home page start */



section{
    height: 100vh;
    display:flex;
    justify-content: center;
    width: 100vh;
    flex-direction: row;

    scroll-snap-align: start;
   

}


.container
{
    scroll-snap-type: y mandatory;
    overflow-y: scroll ;
    height: 100vh;
}

.home{
   
  width: 100%;
    
}



.main-content{
    display: grid;
    gap: 2rem;
    padding-left: 9rem;
    padding-top: 8rem;
    
    align-content: center;
    align-items: center;
    padding-right: 22rem;
    background: #4831d4;

}


.main-content .content p{
    line-height: 30px;
}
.main-content h1{
    color: #ccf381;
    font-size: 3.5rem;
    font-weight: 3000;

  
}


.main-content p{
    padding-top: 2rem;
    color: white;
 
  
}

.main-content .content-2{
    display: block;
    width: 50%;
    height: 100%;
}

.content-2 p {
    color: #ccf381;
    font-size: 12px;
    
}


.secondary-content{
    background:#ccf381 ;
    display:grid;
 
    justify-content: center;
    align-items: center;
    
   
  
    


}

.secondary-content #img-2{

    /* width: inherit;
    display: block;
    height: inherit;
    margin-top: -2.435em;
    background-color: #fff;
    background-size: cover;
    background-position-x: center;
    margin-left: -2.2em;

 background-image: url(drop1.png);

 */


  
 width: 18rem;
 height: 18rem;
 left: 20rem;
 margin-left: -20.435rem;
 background-position-x: center;
 margin-top: 3rem;
 border: 0.115rem solid #fff;
 background-size: cover;
    background-color: #eee;
 background-image: url(drop1.png);

}


.secondary-content .img{




    width: 18rem;
    height: 18rem;
    left: 20rem;
    margin-left: -10.435rem;
    padding-bottom: 1.5rem;
    margin-top: 10rem;
    border: 0.115rem solid #fff;
    background-size: cover;
   


}




#img-2 #avatar-shapes{
    position: relative;
    top: -15rem;
    left: -6rem;
    
}


 .img-2    #avatar-shapes{
top: -15rem;

width: 7rem;

height: 30%;                                                                                                                                               
right: -0em;
position: relative;                                                                               

}



/* home page ends */



 #sector-3{
     width: 100vh;
 }                                                                        

#sector-3 .main-content {
    background: white;
    padding-right: 20rem;
    padding-left: -9rem;
    margin-left: 16rem;
    
    
}


#sector-3 .main-content .content{
    padding-left: 8rem;
}

#sector-3 .main-content  h2{
        margin-top: 10rem;
        margin-left: 8rem;
        padding-bottom: 1rem;
}
#second-2{
    background: white;
}





#sector-3 .main-content .content h1{
    color: #4831d4;
    
}



#sector-3 .main-content .content p{
    color: #342d5c;
    padding-top: 0.5rem;
    width: 29rem;
    font-size: 16px;line-height: 25px;
}


#second-2 .img h2{
    color:#4831d4;
    font-size: 3rem;
    font-weight: 3000;
    padding-top: 1rem;
    

}

#second-2 p{
    color: #342d5c;
    padding-top: 1rem;
    width: 29rem;
    font-size: 16px;line-height: 25px;
    
}


 .icons{
   
    top: -90rem;
  padding-left: 60rem;
  
}
 .icons i{
    color: blue;
    display: grid;
     
   
     
        

    
}
.secondary-content .icons i:hover{
    color: white;
    transform: translate(-10px , 0);
    
}


.img #cs-pattern-right {
    width: 20em;
    height: 5.87em;
    margin-right: 10em;
    

}


.page-3{
    width: 100%;
    background-color: #eee;
}
.page-3 .side-1{

    width: 50%;
    background: hsl(248, 65%, 51%);
    align-items: center;
    text-align: center;
    display: block;
}




.page-3 .side-1 .text h1{
    color: #ccf381;
    margin-top: 5rem;
    font-size: 3rem;

    
    
}

.page-3 .side-1 .text p{
    color: white;
    text-align: left;
    font-size: 12px;
    
   padding-left: 7rem ;
    width: 40vw;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
}


.page-3 .side-2{
    width: 50%;
    background: #eee;
    
}
.side-2 .image img{
    height: 100vh;
    width: 100%;
}







/* section 4 start */



.page-4 .middle-page{

    padding-top: 5rem;
    margin-bottom: 1rem;
    padding-bottom: 3rem;
    margin-top: 5rem;
    display:flex;
    justify-content: center;
    width: 200vh;
    flex-direction: row;
    background-color: white;
    max-height: 30rem;

  
   
 
  

}















.page-4{
    width: 100%;
    background-color: #eee;
    
}
.page-4 .side-a{

    width:50%;
    
    padding-left: 3rem;
  
 
    text-align: left;

    display: block;
   
}

.page-4 .side-b{

    width: 50%;

    align-items: center;
    text-align: center;
    display: block;
}

.side-a1 h1{
   font-size: 40px;
margin-left: 0;
color: #4831d4;

}


.side-a2 {
    margin-top: 35px;
    font-size: 20px;
 margin-left: 0;
 color: #342d5c;
 
 }


 .page-4 .side-b{
   
    width:50%;
    
    padding-left: 2rem;
 
    text-align: left;

    display: block;
    margin-left: 5rem;
   
}


.middle-page:before{
    content:'';
    position:relative;
    left: 50%;
    width: 2px;
    height: 120%;
    background: #c5c5c5;
    top: -3rem;
}










.side-a2 .btn{
    display: inline-block;
    margin-top: 3rem;
    padding: 0.5rem;
    border: 1.5px solid #4831d4;
    width: 15rem;
    
 background-color: white;
    box-shadow: var(--box-shadow);
    
    cursor: pointer;
    font-size: 1rem;

    
}

.btn:hover{
    background-color: #4831d4;
    transition:all 0.5s ease;
    color:white;
   
}

.btn span{
  font-size: 1.2rem;
   
    color:#4831d4;

}


.btn:hover span{
    color: var(--green);

}

.btn:hover span i{
    color: var(--green);
    
    margin-left: 1rem;
}


/* section 4 end */



/* section 5 start  */


.page-5{
    width: 100%;
    align-items: center;
  display: flex;
  flex-direction: column;
    justify-content: center;
}


.page-5 .message-page{
    margin-top: 3rem;
  
    padding: 1rem ;
    height: 80%;

        
  


}

.message {
    text-align: center;
}

.message h1{
    font-size: 2.5em;
    color: #4831d4;
}

.message p{
    margin-top:1rem;
}



#home-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-row{
    display: flex;
    flex-direction: row;
    gap: 3rem;

    margin-top: 3rem;
}




.message-row{




    margin-top: 3rem;
}

.message-row input{
    width: 43rem;
}

















input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid blue;
    line-height: 2.5em;
    width: 20rem;
    margin-top: 1rem;
}






.btn{



display: inline-block;
margin-top: 3rem;
padding: 0.5rem;
border: 1.5px solid #4831d4;
width: 15rem;

background-color: white;
box-shadow: var(--box-shadow);

cursor: pointer;
font-size: 1rem;
}